.grafana-row {
    display: flex;
}

.grafana-column {
    display: table;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.grafana-panel {
    border: 0px;
    max-height: 20vh;
    width: 25vw;
    height: 20vh;
}